.Cta {
    width: calc(100% - 10rem);
    background: var(--gradient-bar);
    margin:auto;
    margin-top: 150px;
    padding:46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.Cta__content p:first-child {
    color: #0E0E0E;
    font-size: 12px;
}
.Cta__content p:nth-child(2) {
    color: #000000;
    margin-top: 5px;
    font-size: 24px;
    font-weight: bolder;
}
.Cta__btn {
    padding:13px 45px;
    border-radius: 1000rem;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
@media screen and (max-width:500px) {
    .Cta {
    width: calc(100% - 4rem);
        flex-direction: column;
        padding: 2rem ;
        gap: 1rem;
    }
}


